@import "tailwindcss";
@import "prism-themes/themes/prism-vsc-dark-plus.css";

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
 
}

/* Dark mode palette (default). */
html[data-theme="dark"] {
  --background: hsl(0 0% 2%);;
  --foreground: #e6e6e6;

  --color-kiwi-bg: hsl(0 0% 2%);
  --color-kiwi-nav-bg: hsl(0 0% 5%);
  --color-kiwi-nav-active: hsl(0 0% 14.9%);
  --color-kiwi-code-body: hsl(0 0% 6%);
  --color-kiwi-sidenavbg: hsl(0 0% 4.7%);

  --color-kiwi-border: hsla(0 0% 100% / 0.07);
  --color-kiwi-border-main: hsla(0 0% 100% / 0.04);
  --color-kiwi-border-nav: hsla(0, 3%, 17%, 0.34);
  --color-kiwi-border-table: hsla(0 0% 100% / 0.1);

  --color-kiwi-heading: hsl(0, 17%, 92%);
  --color-kiwi-subheading: oklch(75.751% 0.00149 285.504);
  --color-kiwi-icon: hsla(0 0% 98% / 0.73);
  --color-kiwi-inactive: hsla(216 13% 84% / 0.41);

  --color-kiwi-code-tab: hsla(0 0% 2% / 0.35);

  --background-image-kiwi-btn: linear-gradient(
    180deg,
    #3130303f 0%,
    #3333337c 100%
  );
  --shadow-kiwi-inset:
    inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/* Light mode palette */
html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;

  --color-kiwi-bg: hsl(0 0% 100%);
  --color-kiwi-nav-bg: hsl(0 0% 98%);
  --color-kiwi-nav-active: hsl(0 0% 92%);

  --color-kiwi-code-body: hsla(0 0% 12% / 0.12);
  --color-kiwi-sidenavbg: hsl(0 0% 98%);

  --color-kiwi-border: hsla(0 0% 12% / 0.12);
  --color-kiwi-border-main: hsla(0 0% 12% / 0.08);
  --color-kiwi-border-nav: hsla(0 0% 12% / 0.16);
  --color-kiwi-border-table: hsla(0 0% 12% / 0.14);

  --color-kiwi-heading: hsl(0 0% 12%);
  --color-kiwi-subheading: hsla(0 0% 12% / 0.68);
  --color-kiwi-icon: hsla(0 0% 16% / 0.86);
  --color-kiwi-inactive: hsla(216 13% 30% / 0.6);

  --color-kiwi-code-tab: hsla(216 30% 94% / 0.8);
  --color-kiwi-copy-bg: hsl(0 0% 9.8%);

  --background-image-kiwi-btn: linear-gradient(
    180deg,
    #ffffff 0%,
    #d7d7d7 100%
  );
  --shadow-kiwi-inset:
    inset 0 1px 0 rgba(255, 255, 255, 0.65), inset 0 -1px 0 rgba(0, 0, 0, 0.08);
}

html:not([data-theme]) {
  --background: #090909;
  --foreground: #e6e6e6;
  --color-kiwi-bg: hsl(0 0% 2%);
  --color-kiwi-nav-bg: hsl(0 0% 5%);
  --color-kiwi-code-body: hsl(0 0% 6%);
  --color-kiwi-border: hsla(0 0% 100% / 0.07);
  --color-kiwi-border-main: hsla(0 0% 100% / 0.04);
  --color-kiwi-border-nav: hsla(0 0% 37% / 0.34);
  --color-kiwi-border-table: hsla(0 0% 100% / 0.1);
  --color-kiwi-heading: hsl(0 0% 90%);
  --color-kiwi-subheading: hsla(0 0% 90% / 0.55);
  --color-kiwi-icon: hsla(0 0% 98% / 0.73);
  --color-kiwi-inactive: hsla(216 13% 84% / 0.41);
  --color-kiwi-code-tab: hsla(0 0% 2% / 0.35);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-kiwi-bg: var(--color-kiwi-bg);
  --color-kiwi-nav-bg: var(--color-kiwi-nav-bg);
  --color-kiwi-nav-active: var(--color-kiwi-nav-active);
  --color-kiwi-codebody: var(--color-kiwi-code-body);

  --color-kiwi-border: var(--color-kiwi-border);
  --color-kiwi-border-main: var(--color-kiwi-border-main);
  --color-kiwi-border-nav: var(--color-kiwi-border-nav);
  --color-kiwi-border-table: var(--color-kiwi-border-table);
  --color-kiwi-sidenavbg: var(--color-kiwi-border-table);

  --color-kiwi-heading: var(--color-kiwi-heading);
  --color-kiwi-subheading: var(--color-kiwi-subheading);
  --color-kiwi-icon: var(--color-kiwi-icon);
  --color-kiwi-inactive: var(--color-kiwi-inactive);

  --color-kiwi-code-tab: var(--color-kiwi-code-tab);
  --color-kiwi-copy-bg: var(--color-kiwi-copy-bg);

  --background-image-kiwi-btn: var(--background-image-kiwi-btn);
  --shadow-kiwi-inset: var(--shadow-kiwi-inset);
}

.anchor-filter-bar {
  anchor-name: --filter-bar, --hovered-item;
}

.anchor-item {
  position: relative;
  cursor: pointer;

  &:hover {
    anchor-name: --hovered-item;
  }
}

.filter-bubble {
  position: absolute;
  position-anchor: --hovered-item;
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.123);
  background: rgba(51, 50, 50, 0.61);
  transition:
    top 0.2s ease,
    left 0.2s ease,
    right 0.2s ease,
    bottom 0.2s ease;
  pointer-events: none;
  z-index: 0;
}

.anchor-item:hover {
  anchor-name: --hovered-item;
}
